<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>New Post</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500" rel="stylesheet">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/createpost.css">
</head>

<body>
  <nav class="navbar navbar-fixed navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/forums">DiscussionForum</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="forums">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Announcements</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <div class="searchBox">
          <input class="form-control" type="search" placeholder="Search" aria-label="Search">
          <button class="btn" type="submit"><i class="fas fa-search"></i></button>
      </form>
  </nav>
  <div class="createPostBox">
    <h2>Create a new post!</h2>
    <form class="formBox" action="/createpost" method="POST">
      <label for="title">Title</label>
      <input type="text" name="title" required>
      <label for="category">Category</label>
      <select placeholder='select' id="category" name='category' onchange="showOther()">
        <option value='PIC'>C Programming</option>
        <option value="Python">Python</option>
        <option value="DBMS">DBMS</option>
        <option value="CN">Computer Networks</option>
        <option value="UNIX">UNIX</option>
        <option value="Java">Java</option>
        <br>
        <option value="Other">Other</option>
      </select>
      <label for="other" class="other" id='showlabel'>Enter Category</label>
      <input type="text" name="other" id='showtext' class="other">
      <label for="post">Message/Question</label>
      <textarea name="post" id="post" cols="30" rows="6" required></textarea>
      <a href="/forums"><input type="button" class="btn-success button" name="back" value="Go back to forums."></a>
      <input type="submit" class="btn-success button" value="Create Post!">
    </form>
  </div>
</body>
<script type="text/javascript">
  function showOther() {
    if (document.getElementById('category').value == 'Other') {
      document.getElementById('showtext').classList.remove('other');
      document.getElementById('showlabel').classList.remove('other');
      document.getElementById('showtext').required = true;
    }
  }
</script>

</html>