<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>DSCE Discussion Forum</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500" rel="stylesheet">
  <link rel="stylesheet" href="css/master.css">
  <link rel="stylesheet" href="css/index.css">
</head>

<body>
  <div class="headers">
    <h1>DiscussionForum</h1>
    <h2>Welcome to the discussion forum of the CSE branch.</h2>
  </div>
  <div class="loginBox">
    <h3>Sign In to the Discussion Forum</h3>
    <div class="formBox">
      <form class="" action="/login" method="POST">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" class="inputBox" required>
        <label for="password">Password <a href="#" class="passwdLink">Forgot Password?</a></label>
        <input type="password" name="password" id="password" class="inputBox" required>
        <input type="submit" name="submit" id="submit" value="Log In" class="btn">
        <br>
        <span>Don't have an account? <a href="/register">Register now!</a></span>
      </form>
    </div>
  </div>
</body>

</html>