<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Register to DiscussionForum</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500" rel="stylesheet">
  <link rel="stylesheet" href="css/master.css">
  <link rel="stylesheet" href="css/index.css">
</head>

<body>
  <div class="loginBox">
    <h2>Register to the Discussion Forum</h2>
    <div class="formBox">
      <form class="" action="/register" id="regForm" method="POST">
        <span>Already have an account? <a href="/login">Login!</a></span>
        <label for="username">Username</label>
        <input type="text" name="username" id="username" class="inputBox" required>
        <%if (error){%>
        <span class="error">
          <%=error%>
        </span>
        <%}%>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" class="inputBox" required>
        <label for="usn">USN</label>
        <input type="text" name="usn" id="usn" class="inputBox" required>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" class="inputBox" required>
        <label for="cpassword">Confirm Password</label>
        <input type="password" name="cpassword" id="cpassword" class="inputBox" required>
        <input type="submit" name="submit" id="submit" value="Register" class="btn">
        <div id="error" class="alert"></div>
      </form>
    </div>
  </div>
</body>

</html>