.dropdown-menu{
  background: #343a40;
  border: 1px solid lighten(grey, 30%);
  .dropdown-item{
    color: white;
    &:hover{
      color : #343a40;
    }
  }
}
.searchBox{
  position: relative;
  input{
    width: 100%;
  }
  .btn{
    position: absolute;
    top: 0;
    right: 0;
  }
}
.navbar-collapse{
  text-align: right;
  background: #343a40;
}
h1{
  margin: 50px 0;
}
.topicsBox{
  text-align: left;
  background: white;
  border: 1px solid lighten(grey,20%);
}
.topicsTable{
  th{
    font-size: 0.9em;
    text-transform: uppercase;
    padding: 10px 50px;
  }
  width: 100%;
}
.data{
  padding : 4px 50px;
  th{
    cursor: pointer;
    width: 100%;
  }
  border-bottom: 1px solid rgba(0,0,0,0.4);
}
.postButton{
  padding-bottom: 5px;
  margin-bottom: 5px;
}
.title{
  background: lightblue;
}
